/* Kroppsstil */
body {
    font-family: Arial, sans-serif;
    background-color: #000001;
    color: #767575;
    text-align: center;
}

.meny{
    position: absolute;
    left: 15PX;
    top: 25px;
    font-size: 22px;
    cursor: pointer;
    background-color: #767575;
    
}
